body,
html {
  height: 100%;
}
/* content body */
.main-content-body {
  margin: auto;
}
.nav-img {
  margin-left: 10%;
}

/* Hero section */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/hero-image.jpg');
  /* Set a specific height */
  height: 70%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.how-section1 {
  padding: 5%;
}
.how-section1 h4 {
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading {
  color: grey;
  font-size: 20px;
}
.how-section1 .row {
  margin-top: 10%;
}
.how-img {
  text-align: center;
}
.how-img img {
  width: 80%;
}
.card-body {
  margin: 5%;
}
/* For tablets */
@media (max-width: 768px) {
  .hero-text {
    font-size: 90%;
  }

  .how-img img {
    width: 100%;
  }

  .card-body {
    margin: 2%;
  }
}

/* For mobile phones */
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 80%;
  }

  .hero-text {
    font-size: 80%;
  }
}
